@inject OpenApiStateService StateService

<header class="top-bar">
    <div class="top-bar-content">
        <div class="top-bar-left">
            <button class="hamburger-btn" @onclick="ToggleSidebar" aria-label="Toggle sidebar">
                @AppIcon.HamburgerMenu(20)
            </button>
            <div class="logo">
                <NavLink href="" class="logo-link">
                    <span class="icon">
                        @AppIcon.Raindrop(20)
                    </span>
                    <strong>drip</strong>
                </NavLink>
            </div>
        </div>
        <div class="top-bar-actions">
            @if (StateService.HasDocument)
            {
                <DocumentSelector />
            }
            <NavLink href="upload" class="icon-button button" title="Upload OpenAPI Document" aria-label="Upload OpenAPI Document">
                @AppIcon.Upload()
            </NavLink>
            <button type="button" class="icon-button" title="Toggle Light/Dark Mode" aria-label="Toggle Light/Dark Mode" onclick="document.documentElement.classList.toggle('dark');">
                <span class="light-mode-only">
                    @AppIcon.Sun()
                </span>
                <span class="dark-mode-only">
                    @AppIcon.Moon()
                </span>
            </button>
        </div>
    </div>
</header>

@code {

    [Parameter]
    public bool SidebarOpen { get; set; }

    [Parameter]
    public EventCallback<bool> SidebarOpenChanged { get; set; }

    private async Task ToggleSidebar()
    {
        await SidebarOpenChanged.InvokeAsync(!SidebarOpen);
    }
}
